<div class="clearfix">
  <div class="col-md-8">
    <h2>Welcome {{user.username}} (<span ng-hide="isOnline">Offline</span><span ng-show="isOnline">Online</span>)</h2>
    <ul>
      <!--li ng-repeat="mess in messages| orderBy :'timestamp':true"-->
      <li ng-repeat="mess in messages">
        <h5>{{mess.timestamp| date : 'short'}}</h5>
        {{mess.content}} - {{mess.sync}}
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <form>
      <textarea ng-model="new.content"></textarea>
      <a class="btn btn-primary pull-right" ng-click="save()">Send</a>
    </form>
  </div>
</div>
