<div class="clearfix">
  <div class="col-md-8">
    <h2>Welcome {{user.username}} (<span ng-hide="isOnline">Offline</span><span ng-show="isOnline">Online</span>)</h2>
    <ul class="list-group">
      <!--li ng-repeat="mess in messages| orderBy :'timestamp':true"-->
      <li  class="list-group-item" ng-repeat="mess in messages">
        <h5 ng-class="{'text-info': (mess.needSync)}">{{mess.timestamp| date : 'short'}} <span ng-show="mess.needSync">*</span></h5>
        <p>{{mess.content}}</p>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <form>
      <textarea ng-model="new.content"></textarea>
      <a class="btn btn-primary pull-right" ng-click="save()">Send</a>
    </form>
  </div>
</div>
